.my-pink{
	background-color: #EE6E73;
}
.my-orange{
	background-color: #F2A870;
}
.my-blue{
	background-color: #45958F;
}
.my-green{
	background-color: #66C65C;
}
.my-purple{
	background-color: #BE5896;
}